body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, ul {margin: 0;padding: 0;}
body{font-family:"STHeiti","Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;background-color:#fff; font-size:16px;}
table {border-collapse: collapse;border-spacing: 0;}
fieldset, img {border: 0;}
address, caption, cite, code, dfn, em, var,b {font-style: normal;font-weight: normal;}
li {list-style: none;}
sup {vertical-align: text-top;}
sub {vertical-align: text-bottom;}
input, textarea, select {font-family: inherit;font-size: inherit;font-weight: inherit; outline: none}
input, img {vertical-align: middle;}
.clearfix {*zoom: 1;}
.cf:before, .cf:after {display: table;content: "";line-height: 0;}
.cf:after {clear: both;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {	display: block;}
audio, canvas, video {display: inline-block;*display: inline;*zoom: 1;}
audio:not([controls]) {	display: none;}
html {font-size:100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
a:focus {outline: thin dotted #333;outline: 5px auto -webkit-focus-ring-color;outline-offset: -2px;}
a:link{ text-decoration:none;}
a:hover, a:active {outline: 0;}
sub, sup {position: relative;font-size: 75%;line-height: 0;vertical-align: baseline;}
sup {top:-0.5em;}
sub {bottom:-0.25em;}
img {border:0;}
button, input, select, textarea {margin: 0;	font-size: 100%;vertical-align: middle;}
button, input {	*overflow: visible;	line-height: normal;}
button::-moz-focus-inner, input::-moz-focus-inner {	padding: 0;	border: 0;}
button, input[type="button"], input[type="reset"], input[type="submit"] {cursor: pointer;-webkit-appearance: button;}
input[type="search"] {-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield;}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {-webkit-appearance: none;}
textarea {overflow: auto;vertical-align: top;}
.clear{zoom: 1; height:0px; line-height:0; font-size:0px;}
.clear:after{content: "\20";display:block;clear: both;}


.deviceWrap{ background:url(../images/iphone-5-portrait.jpg) no-repeat; width:366px; height:567px; margin:10px auto 0; text-align:center;padding: 79px 0 105px 0px;}
.device{width: 322px;height:548px;margin:0 auto;}
.flashingTop{height: 19px; width: 320px; line-height:20px;color:#888;font-size: 12px;}
.wrap{width:100%; margin:0 auto; background:#eeeeec; background:#fff; width:320px;text-align:center; height:548px;border: 1px solid #000; overflow-x:hidden; border-radius:5px;position:relative; overflow:hidden}
.wrapbox{ width:120%; height:100%;overflow-y:auto; text-align:left;overflow:hidden }
.wrapboxleft{width:320px;}
