body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, ul {margin: 0;padding: 0; }
body{font-family:"STHeiti","Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu; }
table {border-collapse: collapse;border-spacing: 0;}
fieldset, img {border: 0;}
address, caption, cite, code, dfn, em, var,b {font-style: normal;font-weight: normal;}
li {list-style: none;}
sup {vertical-align: text-top;}
sub {vertical-align: text-bottom;}
input, textarea, select {font-family: inherit;font-size: inherit;font-weight: inherit; outline: none}
input, img {vertical-align: middle;}
.clearfix {*zoom: 1;}
.cf:before, .cf:after {display: table;content: "";line-height: 0;}
.cf:after {clear: both;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {	display: block;}
audio, canvas, video {display: inline-block;*display: inline;*zoom: 1;}
audio:not([controls]) {	display: none;}
html {font-size:100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
a:focus {outline: thin dotted #333;outline: 5px auto -webkit-focus-ring-color;outline-offset: -2px;}
a:link{ text-decoration:none;}
a:hover, a:active {outline: 0;}
sub, sup {position: relative;font-size: 75%;line-height: 0;vertical-align: baseline;}
sup {top:-0.5em;}
sub {bottom:-0.25em;}
img {border:0;}
button, input, select, textarea {font-size: 100%;vertical-align: middle;}
button, input {	*overflow: visible;line-height: normal;}
button::-moz-focus-inner, input::-moz-focus-inner {border: 0;}
button, input[type="button"],input[type="text"],input[type="password"],input[type="reset"], input[type="submit"] {-webkit-appearance: button;}
input[type="search"] {-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield;}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {-webkit-appearance: none;}
textarea {overflow: auto;vertical-align: top;}


* {
	margin: 0;
	padding: 0
}
section {
	height: 100%;
	overflow: hidden;
	perspective: 500px;
	-webkit-perspective: 500px;
	width: 100%;
	left: 0;
	position: absolute;
	top: 0;
	z-index: 0;
	background:#000;
	
}
.logo{ position:absolute; top:0; left:0; z-index:9999}
.card {
	position: absolute;
	height: 100%;
	left: 18px;
	right: 18px;
	top: 0;
	-webkit-transform-style: preserve-3d;
	
	transform-style: preserve-3d;
	-webkit-animation:changewidth 0.2s linear 0.8s forwards;
}
.front {
	position: absolute;
	left: 0;
	top: 0;
	z-index:80;
	bottom: 150px;
	width: 100%;
	background-color: #EEAEBF;
	-webkit-transform-origin: bottom;
	transform-origin: bottom;
	-webkit-animation: opencard 0.3s ease-in-out 0.5s backwards;
	animation: opencard .3s ease-in-out 0.5s backwards backwards;
}
.first_card{
	background-color:#3cafff;
}

.back {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 150px;
	width: 100%;
}
.back:after {
	content: '';
	display: block;
	width: 100%;
	height: 0;
	overflow: hidden;
	border-width: 0 36px 150px 36px;
	border-style: none solid solid;
	border-color: transparent transparent #DF9DAE;
	position: absolute;
	left: -36px;
}
.cc:after {
	content: '';
	display: block;
	width: 100%;
	height: 0;
	overflow: hidden;
	border-width: 0 36px 150px 36px;
	border-style: none solid solid;
	border-color: transparent transparent #1596f1;
	position: absolute;
	left: -36px;
}
.dd:after {
	content: '';
	display: block;
	width: 100%;
	height: 0;
	overflow: hidden;
	border-width: 0 36px 150px 36px;
	border-style: none solid solid;
	border-color: transparent transparent #faae1a;
	position: absolute;
	left: -36px;
}
.ee:after{
	content: '';
	display: block;
	width: 100%;
	height: 0;
	overflow: hidden;
	border-width: 0 36px 150px 36px;
	border-style: none solid solid;
	border-color: transparent transparent #7549d0;
	position: absolute;
	left: -36px;
	}
.ff:after{
	content: '';
	display: block;
	width: 100%;
	height: 0;
	overflow: hidden;
	border-width: 0 36px 150px 36px;
	border-style: none solid solid;
	border-color: transparent transparent #19b079;
	position: absolute;
	left: -36px;
	}


.prev {
	position: absolute;
	-webkit-animation: prev 1s linear infinite;
	top: 50%;
	left: 13px;
	z-index: 1000;
	cursor: pointer
}
.next {
	position: absolute;
	cursor: pointer;
	-webkit-transform-origin: center center;
	-webkit-animation: next 1s linear infinite;
	top: 50%;
	right: 13px;
	z-index: 1000;
}
li {
	float: left;
	width: 100%
}
.fourth_card{ background:#28cc8f}
.fanzhuan {
	max-width: 320px;
	margin: 0 auto;
}
.mouse{ position:absolute; left:143px; top:60px;-webkit-animation: mouseclose 0.1s linear  2.5s 1;}
.translate {
	-webkit-animation: trans 0.3s ease-out;
	animation: trans 0.3s ease-out;
}
.person1{ position:absolute; top:100px;  z-index:999; -webkit-transform-origin: bottom;
	-webkit-animation: openperson 0.3s ease-in-out 0.8s backwards; backface-visibility:hidden; -webkit-backface-visibility:hidden}
.logo_fisrt{ position:absolute; left:-250px; z-index:99; top:65px;-webkit-animation: flylogo 0.3s ease-in-out 0.8s forwards;}
.lovelife{  position:absolute;  width:70px; z-index:80; -webkit-transform:scale(0,0);
-webkit-animation: apear 0.3s linear 2.7s forwards; -webkit-transform-origin:center center;
}
.flag{ position:absolute; top:-248px; left:57px; z-index:1000;
-webkit-animation: downflag 0.2s linear 1.5s forwards}
.bottom_first{ position:absolute; bottom:-102px; left:0; z-index:99;-webkit-animation: upflag 0.2s linear 1.5s forwards; text-align:center; color:#FFF; font-size:16px;}
.bottom_first a{ cursor:pointer; color:#FF6; padding:5px 0px; display:inline-block; text-decoration:underline;}
.bottom_first img{ display:block; }
.nav_first{padding-top:7px; text-align:center;padding-bottom:5px;}
.nav_first a{ color:#FFF; font-size:14px; }
.confirm{ position:absolute; z-index:100000; top:207px; left:27px; display:none}
.confirm input{ display:block; position:absolute; left:95px; top:40px; width:130px; height:19px; border:none; font-size:14px; line-height:19px;}
#hename{ top:68px;}
#saysome{ top:96px; width:95px;}
.yulan{ display:block; cursor:pointer; width:95px; height:26px; position:absolute; left:84px; top:135px;}
.set{display:block; cursor:pointer; width:95px; height:26px; position:absolute; left:193px; top:96px;}
.con{ width:138px; height:65px; background:#FFF; position:absolute; left:92px; top:117px; display:none; background:rgba(255,255,255,0.9)}
.con p{ padding-left:5px; font-size:12px;}
.con p a{ color:#000; cursor:pointer}
.close_first{ width:22px; height:22px; position:absolute; right:0px; top:0px; }
#mask{ position:absolute; top:0; left:0; width:320px; height:100%; z-index:99999; display:none; background:#000; opacity:0.4;}
.appearzi{ position:absolute;  top:0; left:0; width:207px;}
.appearzi span{ display:block; width:14px; float:right}
.me{ margin-right:45px; margin-top:35px; color:#ffeb88;line-height:20px; }
.feel{ width:19px; font-size:18px; line-height:20px; color:#ffeb88; margin-right:33px; margin-top:30px}
.he{color:#ffeb88; margin-right:33px; margin-top:70px;line-height:20px;}
/*.twobtn{ position:absolute; left:0;top:0}*/
.twobtn{ position:relative;}

.zoule{-webkit-animation: zoule 0.2s linear  forwards}
.addflys{-webkit-animation: jidiao 0.2s linear  forwards}
.nextthing,.update{ height:34px; width:130px; display:block; position:absolute; left:29px; top:0}
.update{left:168px;}
/***********2********/
.second_card{ background:#fdbc3c}
.third_card{ background:#8a5ee7}
.fanzhuan :nth-child(1) section{
		background:#005691;
}
.fanzhuan :nth-child(2) section{
		background:#b68015
;
}
.fanzhuan :nth-child(3) section{
		background:#442389;
}
.fanzhuan :nth-child(4) section{
		background:#0f6f4c
;
}
@-webkit-keyframes jidiao {
from{ left:400px}to{ left:-10px}
}
@-webkit-keyframes zoule {
from{ -webkit-transform:translateX(0)}to{-webkit-transform:translateX(-400px)}
}
@-webkit-keyframes upflag {
from{ bottom:-102px;}to{ bottom:10px}
}
@-webkit-keyframes downflag {
from{ top:-253px}to{ top:208px;}
}
@-webkit-keyframes apear {
from{ 
top:180px;left:100px; opacity:0;

}to{-webkit-transform:scale(1,1);
top:100px;left:35px; opacity:1;
}
}
@-webkit-keyframes mouseclose {
from{ -webkit-transform:scale(0.1,0.1)}to{-webkit-transform:scale(1,1)}
}
@-webkit-keyframes flylogo {
from { left:-255px}
to {
	left:30px;
}
}
@-webkit-keyframes changewidth {
from {}
to {
	left:0; right:0;
}
}
@-webkit-keyframes trans {
 from {
-webkit-transform:translate(0, 0)
}
to {
	-webkit-transform: translate(-130%, 0)
}
}
@-webkit-keyframes opencard {
0% {
-webkit-transform:rotate3d(1, 0, 0, -135deg)
}
100% {
-webkit-transform:rotate3d(1, 0, 0, 0);
}
}
@-webkit-keyframes openperson {
0% {
-webkit-transform:rotate3d(1, 0, 0, -135deg) 
}

100% {
-webkit-transform:rotate3d(1, 0, 0, 0) ;
}
}
@-webkit-keyframes prev {
0% {
-webkit-transform:translateX(0);
opacity:1;
}
100% {
-webkit-transform:translateX(-13px);
opacity:0;
}
}
@-webkit-keyframes next {
0% {
-webkit-transform:translateX(0) rotate(180deg);
opacity:1;
}
100% {
-webkit-transform:translateX(13px) rotate(180deg);
opacity:0;
}
}
.c_f{ position:absolute; left:0; top:190px; display:none; z-index:1000000;}